section.faq.outer
    h2 FAQ
    .faq__tabs.tabs.tabs-faq
        .tabs__question.tabs-faq__question
            .tabs__question-header.tabs-faq__question-header
                p Support Terms
                include Assets/icons/icon-arrow-down.svg
            .tabs__question-body.tabs-faq__question-body
                p The support period for any written product is one month. Support means the following:
                ul
                    li In case of bugs/defects according to the initial TOR, identified after the delivery of the software, I undertake to fix all the problems free of charge.
                    li In case of necessary edits at the request of the customer (outside the original TOR) - the work is performed for a fee, I have the right to refuse to perform it
                    li In case of software bugs/inoperability due to reasons not related to the original product code (for example, the parser stopped working due to an update of the service that is being parsed, the checker stopped working for a similar reason, the API of some service used stopped responding, etc. .) - edits are performed for a fee, I have the right to refuse to perform them
                    li After 1 month after the delivery of the project: any changes are paid, I also have the right to refuse a person in further work without explaining the reason
                    li In case of my refusal of support, the customer has the right to a full / partial moneyback, or payment for improvements (due to which the product does not work through my fault)
        .tabs__question.tabs-faq__question
            .tabs__question-header.tabs-faq__question-header
                p Payments Terms
                include Assets/icons/icon-arrow-down.svg
            .tabs__question-body.tabs-faq__question-body
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae tempus nibh. Donec ac mauris id urna laoreet rutrum. Vivamus leo turpis, scelerisque ut porta a, porttitor et velit.