.hero{
    padding-top: 105px;

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .offer{
        flex: 0 1 700px;
    }
    .code{
        flex: 0 1 800px;
    }
}

.code{
    padding: 15px;
    border: 1px solid $color-black;
    font-size: 48px;
    font-weight: $fw-light;

    &__tag-tab{
        padding-left: 127px;
    }
}

.offer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    &__actions{
        display: flex;
        align-items: center;
        gap: 25px;

        .button{
            flex: 0 1 100%;
        }
    }
}
