section.hero.outer 
    .container
        h1 Web-Developer
        .hero__wrapper
            .offer
                h3 Maxim Vidaev
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis turpis, vestibulum et tortor in, malesuada ullamcorper nisi. Proin eget varius dolor, in lacinia turpis.
                .offer__actions 
                        a(href="/mock-address/change-me", class="button button_fill") Contact me 
                        a(href="/mock-address/change-me", class="button button_border") Works
            pre.code= `<!DOCTYPE html>\n<html lang=”ru”>\n<head>\n\t<title>VXID</title>\n</head>`