doctype html

html(lang="en", class="_scrollable") 
    block head 
    body
        .page-wrapper
            include Components/header/header.pug
            main.page 
                block main 
            include Components/footer/footer.pug
    block scripts 
