doctype html

html(lang="en") 
    block head 
    body
        .page-wrapper
            Components/header/header.pug
            main.page 
                block main 
            Components/footer/footer.pug
    block scripts 
