.social
    ul.social__wrapper
        li.social__item
            a(href="/mock-address/change-me", class="social__link", aria-label="Github link")
                include Assets/icons/icon-github.svg         
        li.social__item
            a(href="/mock-address/change-me", class="social__link", aria-label="Telegram link")
                include Assets/icons/icon-telegram.svg    
        li.social__item
            a(href="/mock-address/change-me", class="social__link", aria-label="VK link")
                include Assets/icons/icon-vk.svg    
        li.social__item
            a(href="/mock-address/change-me", class="social__link", aria-label="Habr link")
                include Assets/icons/icon-habr.svg  
