extends Components/layout/default.pug

block head 
    include Components/head/head.pug
    +head("VXID")
block main 
    // include ../../components/hero/hero.pug
block scripts
    script(src=require("./main.js"))
