extends Components/layout/default.pug

block head 
    include Components/head/head.pug
    +head("VXID")
block main 
    include Components/hero/hero.pug
    include Components/works/works.pug
    include Components/work-step/work-step.pug
    include Components/faq/faq.pug
    include Components/contact/contact.pug
block scripts
    script(src=require("./main.js"))
