nav.navigation
    ul.navigation__wrapper
        li.navigation__item
            a(href="/mock-address/change-me", class="navigation__link") Main
        li.navigation__item
            a(href="/mock-address/change-me", class="navigation__link") Works
        li.navigation__item
            a(href="/mock-address/change-me", class="navigation__link") FAQ
        li.navigation__item
            a(href="/mock-address/change-me", class="navigation__link") Work step
        li.navigation__item
            a(href="/mock-address/change-me", class="navigation__link") Connect