mixin button_border(text, tag="a")
    -let className = "button button_border"
    case tag 
        when "a"
            a(class=className)&attributes(attributes)= text
        when "button"
            button(class=className)&attributes(attributes)= text
