.header{
    padding-top: 30px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;    
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    color: $color-black;

    svg{
        width: 48px;
        height: 39px;
        transition: 3s;
        transform-origin: center;

    }
    
    &:hover svg{
        transform: rotate(360deg);
    }
}