header.header.outer 
    .container
        include Components/logo/logo.pug

        div(class="menu__icon", aria-label="Burger button")
            span
        .menu
            include Components/navigation/navigation.pug
            include Components/social/social.pug
