header.header.outer 
    .container
        a(href="/mock-address/change-me", class="logo")
            VXID

        div(class="menu__icon", aria-label="Burger button")
            span
        .menu
            nav.navigation
                ul.navigation__wrapper
                    li.navigation__item
                        a(href="/mock-address/change-me", class="navigation__link") Main
                    li.navigation__item
                        a(href="/mock-address/change-me", class="navigation__link") Works
                    li.navigation__item
                        a(href="/mock-address/change-me", class="navigation__link") FAQ
                    li.navigation__item
                        a(href="/mock-address/change-me", class="navigation__link") Work step
                    li.navigation__item
                        a(href="/mock-address/change-me", class="navigation__link") Connect
            ul.social
                li.social__item
                        a(href="/mock-address/change-me", class="socialn__link", aria-label="Github link") Github
                li.social__item
                        a(href="/mock-address/change-me", class="socialn__link", aria-label="Telegram link") Telegram
                li.social__item
                        a(href="/mock-address/change-me", class="socialn__link", aria-label="VK link") VK
                li.social__item
                        a(href="/mock-address/change-me", class="socialn__link", aria-label="Habr link") Habr