header.header.outer 
    .container
        a(href="/mock-address/change-me", class="logo")
            VXID

        div(class="menu__icon", aria-label="Burger button")
            span
        .menu
            include Components/navigation/navigation.pug
            include Components/social/social.pug
