header.header.outer 
    .container
        a(href="/mock-address/change-me", class="logo")
            VXID

        div(class="menu__icon", aria-label="Burger button")
            span
        .menu
            include Components/navigation/navigation.pug
            ul.social
                li.social__item
                        a(href="/mock-address/change-me", class="socialn__link", aria-label="Github link") Github
                li.social__item
                        a(href="/mock-address/change-me", class="socialn__link", aria-label="Telegram link") Telegram
                li.social__item
                        a(href="/mock-address/change-me", class="socialn__link", aria-label="VK link") VK
                li.social__item
                        a(href="/mock-address/change-me", class="socialn__link", aria-label="Habr link") Habr
