include ./item-works/item-works.pug

section.works.outer
    h2 WORKS
    .works__wrapper
        +item-works(
            "works",
            "AI.MAN",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis turpis, vestibulum et tortor in, malesuada ullamcorper nisi. Proin eget varius dolor, in lacinia turpis.",
            "AI_MAN.png",
            "AI MAN preview",
            "/mock-address/change-me",
            ["HTML5", "PUG", "CSS", "SCSS", "JS", "WEBPACK", "SLIDER-SWIPER", "BEM", "DESKTOP"]
        )
        +item-works(
            "works",
            "AI.MAN",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis turpis, vestibulum et tortor in, malesuada ullamcorper nisi. Proin eget varius dolor, in lacinia turpis.",
            "AI_MAN.png",
            "AI MAN preview",
            "/mock-address/change-me",
            ["HTML5", "PUG", "CSS", "SCSS", "JS", "WEBPACK", "SLIDER-SWIPER", "BEM", "DESKTOP"]
        )
        +item-works(
            "works",
            "AI.MAN",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis turpis, vestibulum et tortor in, malesuada ullamcorper nisi. Proin eget varius dolor, in lacinia turpis.",
            "AI_MAN.png",
            "AI MAN preview",
            "/mock-address/change-me",
            ["HTML5", "PUG", "CSS", "SCSS", "JS", "WEBPACK", "SLIDER-SWIPER", "BEM", "DESKTOP"]
        )