include Components/UI/button/button.pug
mixin button_fill(text, tag="a")
    -let className = "button button_fill"
    case tag 
        when "a"
            a(class=className)&attributes(attributes)= text
        when "button"
            button(class=className)&attributes(attributes)= text
    