@import "fonts";
@import "nullstyles";
@import "vars";

h1, h2, h3, h4, h5, h6 {
    font-weight: $fw-regular;
    font-size: 12vw;
}

h2{
    font-size: 82px;
    padding-bottom: $element-between;
    margin-bottom: $element-between;
    text-transform: uppercase;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 925px;
        height: 1px;
        background-color: $color-black;
    }
}
h3{font-size: 72px;}

p{
    font-weight: $fw-light;
    line-height: 140%;
}
.outer{
    padding-right: 15px;
    padding-left: 15px;
}
section+section{margin-top: $section-margin;}
/* COMPONENTS */
@import "../../components/header/header.scss";
@import "../../components/hero/hero.scss";
@import "../../components/navigation/navigation.scss";
@import "../../components/social/social.scss";
@import "../../components/footer/footer.scss";

/* UI */
