@import "fonts";
@import "nullstyles";
@import "vars";

h1, h2, h3, h4, h5, h6 {
    font-weight: $fw-regular;
    font-size: 240px;
}

h2{font-size: 82px;}
h3{font-size: 72px;}

p{
    font-weight: $fw-light;
    line-height: 140%;
}
.outer{
    padding-right: 15px;
    padding-left: 15px;
}

/* COMPONENTS */
@import "../../components/header/header.scss";
@import "../../components/hero/hero.scss";
@import "../../components/footer/footer.scss";

/* UI */
