@import "fonts";
@import "nullstyles";
@import "vars";

h1, h2, h3, h4, h5, h6 {
    font-weight: $fw-regular;
    font-size: 12vw;
}

h2{
    font-size: 82px;
    padding-bottom: $element-between;
    margin-bottom: $element-between;
    text-transform: uppercase;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 925px;
        height: 1px;
        background-color: $color-black;
    }
}
h3{font-size: 72px;}

p{
    font-weight: $fw-light;
    line-height: 140%;
}
.outer{
    padding-right: 15px;
    padding-left: 15px;
}
._scrollable{
    scrollbar-width: thin;
    scrollbar-color: #D9D9D9 #181819;
    scroll-behavior: smooth;

    *::-webkit-scrollbar{width: 8px;}
    *::-webkit-scrollbar-track{background-color: #181819;}
    *::-webkit-scrollbar-thumb{box-shadow: inset 0px 0px 10px #D9D9D9;}
}

section+section{margin-top: $section-margin;}
/* COMPONENTS */
@import "Components/logo/logo.scss";
@import "Components/header/header.scss";
@import "Components/hero/hero.scss";
@import "Components/navigation/navigation.scss";
@import "Components/social/social.scss";
@import "Components/works/works.scss";
@import "Components/works/item-works/item-works.scss";
@import "Components/work-step/work-step.scss";
@import "Components/faq/faq.scss";
@import "Components/contact/contact.scss";
@import "Components/footer/footer.scss";

/* UI */
@import "Components/UI/button/button.scss";
@import "Components/UI/button/_fill/button_fill.scss";
@import "Components/UI/button/_border/button_border.scss";
