// font-family
$ff-primary: 'Montserrat', sans-serif;

// media breakpoints
$points-sm: 576.98px;
$points-md: 768.98px;
$points-lg: 992.98px;
$points-xl: 1200.98px;
$points-xxl: 1400.98px;

// font-weight
$fw-light: 300;
$fw-regular: 400;

// colors
$color-black: #000;
$color-white: #fff;

$section-margin: 140px;
$margin-element-between: 60px;
